[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
yapf = "*"
pylama = "*"
flask = "*"
flask-graphql = "*"
graphene = "*"
spotipy = "*"
sklearn = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.6"
